@use '../../../shared/styles/_colors' as *;

.search-form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 1rem 1rem;
  gap: 0.5rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .form-group {
    margin: 0;
    flex: 1 1 0;
    display: flex;
    align-items: center;

    select,
    input {
      width: 100%;
      border: 1px solid $color-border;
      outline: none;
      padding: 0.5rem 0.75rem;
      font-size: 14px;
      color: #000000;
      
      background: transparent;
      transition: box-shadow 0.2s;
      box-shadow: none;

      &:focus {
        border-color: $color-primary;
      }
    }

    select {
      border: 1px solid $color-border;
    

      align-items: center;
      display: flex;
    }

    input {
      width: 350px;
      height: 35px;
      border-radius: 0;
      border: 1px solid $color-border;
      border-radius: 4px;
      ::placeholder {
        font-size: 12px;
        color: #000000;
      }
    }
  }

  .filters-toggle {
    background: #3366FF;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 38px;
    border-radius: 1rem;
    color: white;
    transition: background 0.2s;
    border: 1px solid;
    font-size: 14px;
    width: 90px;
  
    &:hover {
      background: #2357f3;
    }

    &:focus {
      background: #265af8;
    }
   
  
    img {
      display: block;
      padding-right: 0.5rem ;
      width: 25px;
      height: 25px;
    }

  }

  .reset-button {
    border: none;
    background: #b9bbbd;
    color: #fff;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s;
    width: 120px;

    
    &:hover {
      background: #e0e0e0;
      color: #333;
    }
  
    &:active {
      background: #d5d5d5;
    }

  }

  .loading, .error {
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 0.9rem;
    color: #888;
    margin-top: 0.2rem;
  }
}


  
  
  
