.wellcome-admin-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .wellcome-admin-title {
    color: #333;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.9rem;
  }
