form {
  background-color: white;
  
  
  .form-group {
    margin-bottom: 24px;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}

::placeholder {
  font-family: 'Poppins', sans-serif;
  color: #aaa;
  font-weight: 300;
} 