.logo {
  display: inline-block;
  
  .logo-text {
    font-size: 30px;
    font-weight: 600;
    color: #3366FF;
    font-family: 'Poppins', sans-serif;
    
    .highlight {
      color: #01030a;
    }
  }
}