@use '../../../shared/styles/_variables' as *;
@use '../../../shared/styles/_colors' as *;


.form-group {
  margin-bottom: $spacing-md;
}

.white-section {
  background-color: $color-light;
  padding: 3rem 3rem;
  border-radius: $border-radius;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}



.error-message {
  color: $color-error;
  font-size: $font-size-sm;
}

.form-actions {
  display: flex;
  gap: $spacing-md;
  margin-top: $spacing-lg;
  justify-content: flex-end;
}

:host {
  display: block;
  padding: $spacing-md;
}

::ng-deep {
  .mat-form-field {
    width: 100%;
  }

  .mat-form-field-wrapper {
    margin-bottom: 0;
  }
} 