<form [formGroup]="locationForm" (ngSubmit)="createLocation()">
  <section class="white-section">
    <div class="form-group">
      <app-department-select
      formControlName="department"
        (departmentChange)="onDepartmentChange($event)">
        <option value="">Seleccione un departamento</option>
      </app-department-select>
    </div>

    <div class="form-group">
      <app-city-select
        [departmentId]="selectedDepartmentId"
        formControlName="cityName">
        <option value="">Seleccione una ciudad</option>
      </app-city-select>
    </div>

    <div class="form-group">
      <app-input
        formControlName="neighborhood"
        id="barrio"
        label="Barrio"
        [required]="true"
        [disabled]="disabled"
        placeholder="Ingrese el nombre del barrio">
      </app-input>  
    </div>

    <div class="form-actions">
      <app-button 
        type="primary"
        [isSubmit]="true"
        label="Crear">
      </app-button>

      <app-button 
        type="secondary"
        (click)="onCancel()"
        label="Cancelar">
      </app-button>
    </div>
  </section>
</form> 