<div class="login-container">
    <app-navbar 
    [showLoginButton]="false"
    class="navbar">
    </app-navbar>

    <main class="login-main">
      <div class="login-card">
        
        
        <h2>Iniciar Sesión</h2>
        
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-group">
            <app-input
              formControlName="username"
              placeholder=" Usuario"
              icon="user"
              type="text">
            </app-input>
          </div>
          
          <div class="input-group">
            <app-password-input
              formControlName="password"
              placeholder="Contraseña"
              icon="lock"
              type="password">
            </app-password-input>
          </div>
          
          <div class="form-actions">
          <app-button
            [isSubmit]="true"
            [label]="'Ingresar'"
            type="primary"
            [disabled]="!loginForm.valid"
            text="Ingresar"
            [ngClass]="{'button-disabled': !loginForm.valid}"
            >
          </app-button>
        </div>
        </form>
        
        <app-notification-container></app-notification-container>
      </div>
    </main>
  </div>