<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="users-form">
    <section class="white-section">
  <div class="form-row">
    <app-input
      label="Nombre"
      formControlName="firstName"
      [errorMessage]="getErrorMessage('firstName')"
      placeholder="Ingrese su nombre"
      [required]="true"
      [ngClass]="userForm.get('firstName')?.touched && userForm.get('firstName')?.invalid ? 'input-error' : ''"
    ></app-input>

    <app-input
      label="Apellido"
      formControlName="lastName"
      [errorMessage]="getErrorMessage('lastName')"
      placeholder="Ingrese su apellido"
      [required]="true"
      [ngClass]="userForm.get('lastName')?.touched && userForm.get('lastName')?.invalid ? 'input-error' : ''"
    ></app-input>
  </div>

  <div class="form-row">
    <app-input
      label="Documento de Identidad"
      formControlName="identityDocument"
      [errorMessage]="getErrorMessage('identityDocument')"
      placeholder="Ingrese su documento"
      type="number"
      [required]="true"
      [ngClass]="userForm.get('identityDocument')?.touched && userForm.get('identityDocument')?.invalid ? 'input-error' : ''"
    ></app-input> 

    <app-input
      label="Teléfono"
      formControlName="phoneNumber"
      [errorMessage]="getErrorMessage('phoneNumber')"
      placeholder="+573005698325"
      [required]="true"
      [ngClass]="userForm.get('phoneNumber')?.touched && userForm.get('phoneNumber')?.invalid ? 'input-error' : ''"
    ></app-input>
  </div>

  <div class="form-row">
    <app-input
      label="Fecha de Nacimiento"
      formControlName="birthDate"
      [errorMessage]="getErrorMessage('birthDate')"
      type="date"
      [required]="true"
      [maxLength]="10"
      [ngClass]="userForm.get('birthDate')?.touched && userForm.get('birthDate')?.invalid ? 'input-error' : ''"
    ></app-input>

    <app-input
      label="Correo Electrónico"
      formControlName="email"
      [errorMessage]="getErrorMessage('email')"
      placeholder="ejemplo@correo.com"
      type="email"
      [required]="true"
      [ngClass]="userForm.get('email')?.touched && userForm.get('email')?.invalid ? 'input-error' : ''"
    ></app-input>
  </div>

  <div class="form-row">
    <app-input
      label="Contraseña"
      formControlName="password"  
      [errorMessage]="getErrorMessage('password')"
      type="password"
      placeholder="Ingrese su contraseña"
      [required]="true"
      [ngClass]="userForm.get('password')?.touched && userForm.get('password')?.invalid ? 'input-error' : ''"
    ></app-input>
  </div>

  <div class="form-actions">
    <app-button 
      variant="primary"
      [disabled]="!userForm.valid"
      [isSubmit]="true"
      label="Crear usuario"
      class="button-primary"
    >
    </app-button>
  </div>
</section>
</form>
