<form [formGroup]="propertyForm" (ngSubmit)="onSubmit()" class="property-form">
  <div class="form-section">
    <h2>Información Básica</h2>
    
    <div class="form-group">
      <label for="name">Nombre de la Propiedad</label>
      <app-input 
        type="text" 
        id="name" 
        formControlName="name" 
        [class.invalid]="propertyForm.get('name')?.touched && propertyForm.get('name')?.invalid"
        placeholder="Ej: Casa en el centro"
        [ngClass]="propertyForm.get('name')?.touched && propertyForm.get('name')?.invalid ? 'input-error' : ''"
      ></app-input>
      <div class="character-count" [class.invalid]="propertyForm.get('name')?.touched && propertyForm.get('name')?.invalid">
        <span>{{ propertyForm.get('name')?.value?.length }}</span>/{{ NAME_MAX_LENGTH }} caracteres
        <span *ngIf="propertyForm.get('name')?.errors?.['minlength']" class="error-message">
          (Mínimo {{ NAME_MIN_LENGTH }} caracteres)
        </span>
        <span *ngIf="propertyForm.get('name')?.errors?.['maxlength']" class="error-message">
          (Máximo {{ NAME_MAX_LENGTH }} caracteres)
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="address">Dirección</label>
      <app-input 
        id="address" 
        formControlName="address"
        [class.invalid]="propertyForm.get('address')?.touched && propertyForm.get('address')?.invalid"
        placeholder="Ej: Calle 123, Ciudad"
        [ngClass]="propertyForm.get('address')?.touched && propertyForm.get('address')?.invalid ? 'input-error' : ''"
      ></app-input>
      <div class="character-count" [class.invalid]="propertyForm.get('address')?.touched && propertyForm.get('address')?.invalid">
        <span>{{ propertyForm.get('address')?.value?.length }}</span>/{{ ADDRESS_MAX_LENGTH }} caracteres
        <span *ngIf="propertyForm.get('address')?.errors?.['maxlength']" class="error-message">
          (Máximo {{ ADDRESS_MAX_LENGTH }} caracteres)
        </span>
        <span *ngIf="propertyForm.get('address')?.errors?.['minlength']" class="error-message">
          (Mínimo {{ ADDRESS_MIN_LENGTH }} caracteres)
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Descripción</label>
      <app-textarea 
        id="description" 
        formControlName="description"
        [class.invalid]="propertyForm.get('description')?.touched && propertyForm.get('description')?.invalid"
        placeholder="Describe tu propiedad..."
        rows="4"
        [ngClass]="propertyForm.get('description')?.touched && propertyForm.get('description')?.invalid ? 'input-error' : ''"
      ></app-textarea>
      <div class="character-count" [class.invalid]="propertyForm.get('description')?.touched && propertyForm.get('description')?.invalid">
          <span>{{ propertyForm.get('description')?.value?.length }}</span>/{{ DESCRIPTION_MAX_LENGTH }} caracteres
        <span *ngIf="propertyForm.get('description')?.errors?.['maxlength']" class="error-message">
          (Máximo {{ DESCRIPTION_MAX_LENGTH }} caracteres)
        </span>
        <span *ngIf="propertyForm.get('description')?.errors?.['minlength']" class="error-message">
          (Mínimo {{ DESCRIPTION_MIN_LENGTH }} caracteres)
        </span>
      </div>
    </div>
  </div>

  <div class="form-section">
    <h2>Detalles</h2>
    
    <div class="form-row">
      <div class="form-group">
        <label for="category">Categoría</label>
        <app-category-select
          id="category"
          formControlName="category"
          (categoryIdSelected)="categoryIdSelected($event)"
        ></app-category-select>
      </div>

      <div class="form-group">
        <label for="location">Ubicación</label>
        <app-location-select
          id="location"
          formControlName="location"
          (locationSelected)="locationSelected($event)"
        ></app-location-select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="rooms">Habitaciones</label>
        <app-input 
          type="number" 
          id="rooms" 
          formControlName="rooms"
          min="0"
          [ngClass]="propertyForm.get('rooms')?.touched && propertyForm.get('rooms')?.invalid ? 'input-error' : ''"
        ></app-input>
        <span *ngIf="propertyForm.get('rooms')?.touched && propertyForm.get('rooms')?.invalid" class="error-message">
          (Mínimo 1)
        </span>
      </div>

      <div class="form-group">
        <label for="bathrooms">Baños</label>
        <app-input 
          type="number" 
          id="bathrooms" 
          formControlName="bathrooms"
          min="0"
          [ngClass]="propertyForm.get('bathrooms')?.touched && propertyForm.get('bathrooms')?.invalid ? 'input-error' : ''"
        ></app-input>
        <span *ngIf="propertyForm.get('bathrooms')?.touched && propertyForm.get('bathrooms')?.invalid" class="error-message">
          (Mínimo 0)
        </span>
      </div>

      <div class="form-group">
        <label for="price">Precio</label>
        <app-input 
          type="number" 
          id="price" 
          formControlName="price"
          min="0"
          [ngClass]="propertyForm.get('price')?.touched && propertyForm.get('price')?.invalid ? 'input-error' : ''"
        ></app-input>
        <span *ngIf="propertyForm.get('price')?.touched && propertyForm.get('price')?.invalid" class="error-message">
          (Mínimo 0)
        </span>
      </div>
    </div>

    <div class="form-date">
      <label for="activePublicationDate">Fecha de Publicación</label>
      <app-input 
        type="date" 
        id="activePublicationDate" 
        formControlName="activePublicationDate"
        [ngClass]="propertyForm.get('activePublicationDate')?.touched && propertyForm.get('activePublicationDate')?.invalid ? 'input-error' : ''"
      ></app-input>
      <span *ngIf="!activePublicationDateInfo.isValid && activePublicationDateInfo.isDirty" class="error-message">
        {{ activePublicationDateInfo.hasError ? 'La fecha no puede ser anterior a hoy' : ''}}
      </span>
      <span *ngIf="propertyForm.get('activePublicationDate')?.errors?.['dateExceedsMonth']" class="error-message">
        La fecha no puede exceder un mes desde hoy
      </span>
    </div>
  </div>

  <div class="form-actions">
    <app-button 
      type="primary" 
      [disabled]="!propertyForm.valid"
      [isSubmit]="true"
      label="Publicar"
      [ngClass]="{'button-disabled': !propertyForm.valid}"
    ></app-button>
  </div>
</form> 