<div class="password-input">
  <label *ngIf="label">{{ label }}
  <span *ngIf="required" class="required" aria-hidden="true">*</span>
  <span *ngIf="required" class="visually-hidden"></span>
</label>
  <div class="input-wrapper">
    <input
      [type]="show ? 'text' : 'password'"
      [placeholder]="placeholder"
      [value]="value"
      (input)="handleInput($event)"
      [disabled]="disabled"
      autocomplete="current-password"
      [ngClass]="ngClass"
    />
    <button
      type="button"
      class="toggle-btn"
      (click)="toggleShow()"
      [attr.aria-label]="show ? 'Ocultar contraseña' : 'Mostrar contraseña'"
      [tabindex]="-1"
      [attr.aria-required]="required"
    >
      <span class="material-icons">
        {{ show ? 'visibility_off' : 'visibility' }}
      </span>
    </button>
  </div>
</div> 