<div class="properties-toolbar">
  <div class="sort-container">
    <select
      [formControl]="sortByControl"
      class="filter-input">
      <option value="" disabled selected>Ordenar por</option>
      <option *ngFor="let option of sortOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
    <button
      type="button"
      class="order-toggle"
      (click)="toggleOrder()"
      [attr.aria-label]="orderAsc ? 'Orden ascendente' : 'Orden descendente'">
      <span 
        class="material-icons" 
        [title]="orderAsc ? 'Ascendente' : 'Descendente'">
        {{ orderAsc ? 'arrow_upward' : 'arrow_downward' }}
      </span>
    </button>
  </div>
  
  <div class="view-toggles">
    <button 
      [class.active]="viewMode === 'grid'" 
      (click)="toggleViewMode('grid')"
    >
      <i class="material-icons">grid_view</i>
    </button>
    <button 
      [class.active]="viewMode === 'list'" 
      (click)="toggleViewMode('list')"
    >
      <i class="material-icons">view_list</i>
    </button>
  </div>
</div> 